<ion-item-divider id="sticky" *ngIf="item.isDateOfPreviosItem">
  <ion-label id="divider-label">
    {{item.date}}
  </ion-label>
</ion-item-divider>
<ion-item lines="none">
  <ion-label>
    {{item.title}}
  </ion-label>
  <ion-icon icon="person-sharp" size="small" slot="start"></ion-icon>
  <ion-text *ngIf="item.isIncome; else Expenses" slot="end" class="income">+ {{item.amount}}<span class="yen">円</span></ion-text>
  <ng-template #Expenses>
    <ion-text slot="end" class="expenses">- {{item.amount}}<span class="yen">円</span></ion-text>
  </ng-template>
</ion-item>