<ion-list class="list-border">
  <ion-item>
    <ion-input type="text" placeholder="タイトル" [(ngModel)]="item.title"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea placeholder="メモ" [(ngModel)]="item.memo"></ion-textarea>
  </ion-item>
</ion-list>



<ion-list class="list-border">
  <ion-item lines="none">
    <ion-label>金額</ion-label>
    <ion-input type="number" id="money-form" [(ngModel)]="item.amount"></ion-input>
    <ion-text>円</ion-text>
  </ion-item>
</ion-list>

<ion-list class="list-border">
  <ion-item lines="none">
    <ion-label>日付</ion-label>
    <ion-datetime placeholder="Select Date" [(ngModel)]="item.date"></ion-datetime>
  </ion-item>
</ion-list>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let category of categories" size="3" (click)="selectCategory(category)" class="ion-text-center" [class.selected-category]="category === this.item.category">
      <img src="../../../assets/icon/favicon.png"><br>
      <ion-text>{{category}}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-button class="width-button" (click)="updateDetailItems()">{{props.buttonName}}</ion-button>
