ion-list{
  box-shadow: 0 0 3px #ccc;
  margin: 20px;
  --ion-background-color: white;
}

.list-border{
  border-radius: 10px;
}

ion-grid{
  padding: 20px;
}

ion-col{
  box-shadow: 0 0 3px #ccc;
  --ion-grid-width: 100px;
  border-radius: 10px;
}

.selected-category{
  background-color: hotpink;
}

#money-form{
  text-align: right;
}