#sticky{
  position: sticky;
  background-color: white;
  top: 0px;
  z-index: 100;
}

#amount-text{
  padding: 20px 0px;
  text-align: center;
  h1{
    display: inline-block;
    font-size: 50px;
    margin: unset;
    font-weight: lighter;
  }
  h3{
    display: inline-block;
    font-weight: lighter;
    margin: unset;
  }
  h4{
    font-weight: lighter;
    margin: unset;
  }
}


.home-button{
  width: 50%;
  height: 50px;
  margin: 0;
  --border-radius: 0px;
}

.buttons{
  text-align: center;
}